<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wypozyczalnia_produkcja.Properties.Settings.WypozyczalniaConnectionString"
            connectionString="Data Source=LAPTOP-Q6JBHJK9;Initial Catalog=Wypozyczalnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="wypozyczalnia_produkcja.Properties.Settings.WypozyczalniaConnectionString1"
            connectionString="Data Source=DESKTOP-J9VF8D6\HUBERT;Initial Catalog=Wypozyczalnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>